main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
}

.content {
    width: 100%;
    max-width: 1440px;
    margin: 170px auto 0;
}

.content>.header {
    width: 100%;
    padding-bottom: 24px;
    font-family: 'Noto Serif', serif;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
}

.content ul.info {
    counter-reset: header;
    margin-bottom: 80px;
}

.content ul.info>li {
    counter-increment: header;
    counter-reset: subHeader;
    content: "Секция " counter(section) ": ";
    margin-bottom: 50px;
}

.content ul.info>li>.header {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #F07C00;
    margin-bottom: 16px;
}

.content ul.info>li>.header::before {
    content: counter(header)".";
    color: #F07C00;
    margin-right: .1em;
}

.content ul.info>li>ul>li {
    counter-increment: subHeader;
    counter-reset: subSubHeader;
    margin-bottom: 1em;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.9);
}

.content ul.info>li>ul>li::before {
    content: counter(header)"."counter(subHeader);
    color: #F07C00;
    margin-right: .5em;
}

.content ul.info>li>ul>li:last-child {
    margin-bottom: 0;
}

/* ------------ SUB SUB --------------*/

/* ------------ SUB SUB --------------*/

/* ------------ SUB SUB --------------*/

.content ul.info>li>ul>li>ul {
    margin-top: 4px;
    margin-left: 2em;
}

.content ul.info>li>ul>li>ul>li {
    counter-increment: subSubHeader;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.9);
}

.content ul.info>li>ul>li>ul>li::before {
    content: counter(header)"."counter(subHeader)"."counter(subSubHeader);
    color: #F07C00;
    margin-right: .5em;
}

/* ------------ BTN TOP --------------*/

/* ------------ BTN TOP --------------*/

/* ------------ BTN TOP --------------*/

#btn_top {
    position: absolute;
    bottom: 40px;
    right: 24px;
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
    cursor: pointer;
}

.content ul.info a {
    text-decoration-line: underline;
    color: #376A98;
}

.content ul.info a:hover {
    color: #F07C00;
}

#btn_top path {
    fill: transparent !important;
    stroke: #F07C00 !important;
}